<!-- @see https://codepen.io/Kerrys7777/pen/QWgwEeG -->

<div class="container">
    <div class="row pt-5">
        <div class="col-12">
            <h3 class="text-uppercase border-bottom mb-4">Compraventa de cositas raras</h3>
        </div>
    </div>
    <div class="row">
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <!-- https://www.flickr.com/photos/portlandcenterstage/51562843333/ -->
                <img src="../images/51562843333_9cd61129a7_o.gif" class="card-img-top" alt="Card Image">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Tío en Bikini</h5>
                    <p class="card-text mb-4">Es un poco raro, pero es un tío en bikini joder.</p>
                    <a href="#" class="btn btn-primary mt-auto align-self-center">Book now</a>
                </div>
            </div>
        </div>
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <!-- https://www.flickr.com/photos/robert_trudeau/51563816203/ -->
                <img src="../images/51563816203_e7262f979f_o.gif" class="card-img-top" alt="Card Image">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">E.T. de chocolate</h5>
                    <p class="card-text mb-4">Parece E.T. pero sin derechos, puede que lleve una mochila rara</p>
                    <a href="#" class="btn btn-primary mt-auto align-self-center">Book now</a>
                </div>
            </div>
        </div>
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <!-- https://www.flickr.com/photos/kgreens/51564558540/ -->
                <img src="../images/51564558540_ff710828aa_o.gif" class="card-img-top" alt="Card Image">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Chinitos guapos</h5>
                    <p class="card-text mb-4">Coreanos de los malos (los del sur) haciendo cositas de chinitos</p>
                    <a href="#" class="btn btn-primary mt-auto align-self-center">Book now</a>
                </div>
            </div>
        </div>
    </div>
</div>