<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-3 mx-auto">
            <a href="" class="invert_color material-icons text-body" title="Invert colors">invert_colors</a>
        </div>
        <div class="col-md-3 mx-auto">
            <a href="./form.html">Formulario</a>
        </div>
        <div class="col-md-3 mx-auto">
            <a href="">Login</a>
        </div>
        <div class="col-md-3 mx-auto">
            <a href="./index.html">Inicio</a>
        </div>
    </div>
</div>